<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
    <h3 style="text-align: center;"><%= titulo %></h3>
    <div class="row">
        <div class="col s6 m6 offset-m1 l6 offset-l1">
            <form action="/park_incidents/add" method="POST">
                <label for="hora">Hora del Incidente: </label>
                <br>
                <input type="time" id="hora" name="hora" style="width: 70%;" required>
                <br><br>
                <label for="fecha" data-date-format="YYYY MM DD">Fecha del incidente: </label>
                <br>
                <input type="date" id="fecha" name="fecha" style="width: 70%;" required>
                <br />
                <br />

                <label for="lugares">Lugar del Incidente: </label>
                <select name="lugares" id="lugares">
                    <option disabled selected>Seleccione un Lugar...</option>
                    <% if (lista_lugares.length> 0) { %>
                        <% for (let lugar of lista_lugares) { %>
                            <option value="<%= lugar.id%>"><%= lugar.nombre%></option>
                        <%}%>
                    <%}%> 
                </select>
                <a class="waves-effect waves-light btn" id="add_place" href="/places/addPlace">
                    Agregar Lugar
                </a>
                <br><br>

                <label for="tipos">Tipo de Incidente: </label>
                <select name="tipos" id="tipos">
                    <option disabled selected>Seleccione un Tipo...</option>
                    <% if (lista_lugares.length > 0) { %>
                        <% for (let lugar of lista_lugares) { %>
                            <option value="<%= lugar.id%>"><%= lugar.nombre%></option>
                        <%}%>
                    <%}%> 
                </select>
                <a class="waves-effect waves-light btn" id="add_type" href="/types/addType">
                    Agregar Tipo
                </a>
                <br><br>

                <a class="waves-effect waves-light btn" id="button">
                    <input type="submit" id="enviar" name="enviar" value="Enviar">
                </a>
            </form>
        </div>
        <div class="col s6 m3 l5">
            <br><br><br><br>
            <img src="/images/dino.png" style="text-align: center; vertical-align: middle; width: 100%;">
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>M.AutoInit();</script>
</body>
<%- include('includes/footer.ejs') %>